body {
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    line-height: 20px;
}

/* ESTILOS HEADER */
header {
    background-color: #E5CDB0;
    padding: 1em 0;
    margin: auto;
}

.header {
    margin: auto;
    text-align: center;
}

.header img {
    height: 250px;
}

/* ESTILOS NAVBAR */
nav {
    background-color: #F3D6C2;
    margin-bottom: 2em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    width: 18%;
}

nav ul li a {
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 1em;
    font-size: 1.5em;
    font-weight: bolder;
    font-style: italic;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul li a.activo {
    background-color: #E5CDB0;
}


/* ESTILOS MAIN  */

/* CARROUSEL */
.slider {
    width: 100%;
    height: 650px;
    position: relative;
}

.slider img {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
}

.slider img:first-child {
    z-index: 1;
}

.slider img:nth-child(2) {
    z-index: 0;
}



h1 {
    color: #E5CDB0;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    align-content: center;
    margin: 2em;
}

.bienvenidos {
    padding-right: 2em;
    box-sizing: border-box;
}

.boton-home {
    margin: 2em;
    display: flex;
    justify-content: center;
}

.boton-home button {
    background-color: #F3D6C2;
    border: 2px solid;
    border-radius: 12px;
    color: #FBF1EA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

.boton-home button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.testimonios {
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding-bottom: 0;
}

.testimonio {
    background-color: #EFEDE6;
    padding: 1em;
    margin: 1em;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.testimonio .cita {
    font-weight: bold;
    font-style: 1.4em;
}

.testimonio .autor {
    font-size: 0.7em;
    text-align: center;
    margin: 1em 0;
}




/* TARJETAS */

.contenedor1 {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    border-color: #FBF1EA;
    background-color: #FBF1EA;
}

.cardCover {
    height: 20rem;
    width: 100%;
}

.cardCover img {
    width: 100%;
    height: 100%;
}

.cardContent {
    text-align: center;
    flex: 1;
}




/* ESTILOS FOOTER */
footer {
    background-color: #D3D3D3;
    clear: both;
    color: #333;
    padding: 2em 0;
    margin-top: 2em;
    text-align: center;
}


.left {
    float: left;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start
}

.iconos {
    display: flex;
    flex-direction: row;
}

.iconos img {
    width: 50px;
    height: 50px;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.contacto {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
}


/* ESTILOS NOSOTROS */

.nosotros{
    font-size: 1.5em;
}

.izquierda{
    float: left;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.derecha{
    float: right;
    width: 30%;
    display: flex;
    justify-content: center;
}

.historia p{
    font-size: larger;
}

/* TIMELINE */
.timeline {
    position: relative;
}

.timeline__line {
    border-right: 2px solid #E5CDB0;
    left: 0.75rem;
    position: absolute;
    top: 0px;
    height: 100%;
}

.timeline__items {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.timeline__item {
    margin-bottom: 8px;
}

.timeline__top {
    align-items: center;
    display: flex;
}

.timeline__circle {
    background-color: #E5CDB0;
    border-radius: 9999px;
    height: 1.5rem;
    width: 1.5rem;
}

.timeline__title {
    flex: 1;
    margin-left: 0.5rem;
}

.timeline__desc {
    margin-left: 2rem;
}